client/node_modules/
server/node_modules/
node_modules/
client/.next/
**/dist/
.next/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env

client/.next/

.DS_Store
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.json
shared-local-instance.db
